<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
	<PackageReference Include="TimberApi" Version="0.5.1" />
	<PackageReference Include="Timberborn.GameLibs" Version="0.2.8.1-r.0" />
  </packageSources>
</configuration>